/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
        radial-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.1) 2px,
          transparent 30px
        );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
  font-style: italic;

  background: -webkit-linear-gradient(#2c2c54, #a40e4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  font-size: 450%;
  margin-bottom:0em;
}

#box {
  margin-top: 4em;
  display: inline-block;
  width: 30%;
  padding: 60px;
  border: 1px;
  background-color: #acc3a6;
  text-align: center;
  margin-left: 24.5em;
}
.random {
  width: 130px;
  margin-right: 0.5em;
  color: Black;
  padding: 10px;
}
#submit {
  width: 90px;
  background: #f49d6e;
  color: white;
  font-size: 100%;
  padding: 10px;
  margin-left: 1em;
}
#submit:hover {
  background: white;
  color: #003049;
}
#clear {
  width: 90px;
  background: #f49d6e;
  color: white;
  font-size: 100%;
  padding: 10px;
  margin-left: 1em;
}
#clear:hover {
  background: white;
  color: #003049;
}
#result {
  text-align: left;
}
.items:hover {
  text-decoration: line-through;
}
